/* Styles for whole page */
* {
    box-sizing: border-box;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
}

/* Popup backgorund */
body {
background-color: rgb(236, 227, 206);
}

/* 'Pomodoro Timer' header */
h1{
    text-align: center;
    color: rgb(58, 77, 57);
}

/* 'Start', 'Pause' and 'Reset' buttons */
#controlsContainer {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

/* All buttons */
button {
    border:none;
    border-radius: 5px;
    color: rgb(236, 227, 206);
    background-color: rgb(115, 144, 114);
    box-shadow: 2px 2px 7px 1px rgba(115,144,114,0.46);
    transition: 0.5s;
    padding: 3px;
    cursor :pointer;

}
button:hover {
    background-color: rgb(58, 77, 57);
}

div[container="musicContainer"] {
    display:flex;
    justify-content: center;
}

/* 'Extension Page' button and 'Alarm' checkbox */
#bottomButtonContainer {
    display:flex;
    justify-content: center;
    gap:5px;
    margin-top:10px;
    margin-bottom:10px;
}

/* 'Alarm' Text */
#alarm {
    font-weight: 500;
    color: rgb(58, 77, 57);
}

.checkboxContainer {
   
    display:flex;
    align-items: center;
    justify-content:space-around;
    margin-right:10px;
   
}

/* 'Extension Page' button */
#openMain {
    margin-left: 5px;
}

/* 'Alarm' checkbox */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    background-color:rgb(115, 144, 114);
    cursor:pointer;
    border-radius: 5px;
    display:flex;
    outline:none;
    justify-content: center;
    align-items:center; 
 
}

/* 'Alarm' checkbox text */
label[for="check"] {
    color: rgb(58, 77, 57); 
    font-size: 0.9rem;
    cursor : pointer;
    
}

/* 'Alarm' checkbox checked - the check mark */
input[type="checkbox"]:after {
   font-family: "Font Awesome 6 free";
   content:"\f00c";
   font-weight: 900;
   font-size: 0.7rem;
   color:rgb(236, 227, 206);
   display: none;
  
}

/* Darkens checkbox upon hover */
input[type="checkbox"]:hover {
    transition: 0.5s;
    background-color: rgb(58, 77, 57);
}

/* Darkens checked 'Alarm' box */
input[type="checkbox"]:checked {
    background-color:rgb(79, 111, 82);
}

/* Allows 'Alarm' checkbox to be displayed */
input[type="checkbox"]:checked:after {
    display:block;
}